h1.headlines {
    color: blue;
}

p b {
    color: lightcoral;
}

.headlines {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
    background-color: lightcyan;
}

.paragraphs {
    line-height: 20px;
}

h1.headlines, h2.headlines {
    text-align: center;
}

a:link {
    text-decoration: none;
}

#likes {
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

img {
    float: left;
    padding: 1px 10px 1px 10px
}